* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
   min-height: 768px;
   background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 34px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(images/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__info_contacts {
    background-image: url(images/mask_group.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 55px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.p_contacts {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 49px;
    width: 780px;
}

.top__heading_contacts {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 51px;
    padding-bottom: 16px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text__project {
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    color: #222222;
    opacity: 1;

}

.top__heading {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.h2cl {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
}

.project__text_min {
    font-size: 28px;
    text-align: left;
    top: 32px;
    left: 32px;
}

.inpcl {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.btncl {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;  
}

.block__forms {
    display: flex;
    justify-content: space-between;
    margin: 57px 212px 96px;
    align-items: center;
}

.map {
    margin: 0 212px;
}

.p1 {
    width: 425px;
}

.article{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.article__img {
    align-self: center;
    margin-bottom: 51px;
}

.main__articles {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.article__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.footer__heading {
    width: 340px;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: left;
}

.text__footer {
    color: #FFFFFF;
    width: 495px;
}

.contacts {
    display: flex;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    justify-content: space-between;
    padding-top: 64px;
}

.h4cl {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.footer__top {
    display: flex;
    padding-bottom: 96px;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-top: 96px;
}

.footer__copy-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.footer__copy {
   margin-top: 64px; 
}

.footer__list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    margin-right: 32px;
    flex-basis: 33.3333%;
    display: flex;
}

.footer__list:first-child::before {
    content: '1.';
    display: block;
    margin-right: 16px;
}

.footer__list:nth-child(2n)::before {
    content: '2.';
    display: block;
    margin-right: 16px;
}

.footer__list:last-child::before {
    content: '3.';
    display: block;
    margin-right: 16px;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

hr {
    opacity: 0.4;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 280px;
    }

    .main__articles {
        flex-direction: column;
        align-items: center;
    }

    .article {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 48px;
    }

    .footer__button {
        padding: 4px 31px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__list {
        margin-bottom: 24px;
    }
}

@media (max-width: 667px) {
    .menu {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .p1 {
        width: 100%;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding:  0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px; 
    }

    .what-we-do {
        padding-top: 48px;
    }

    .main__articles {
        padding-top: 32px;
    }

    .article {
        width: 100%;
    }

    .text__project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text_min {
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .footer__top {
        flex-direction: column;
        padding-bottom: 41px;
    }

    .footer__text {
        width: 100%;
    }

    .footer__heading {
        width: 75%;
        margin: 0 auto 32px;
        text-align: center;
    }

    .text__footer {
        text-align: center;
        margin-bottom: 40px;
        width: auto;
    }

    .footer__copy {
        margin-top: 32px;
    }
}