* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
   min-height: 768px;
   background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 34px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(images/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text__project {
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    color: #222222;
    opacity: 1;

}

.top__heading {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.h2cl {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

/*.project {}*/

.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
}

.project__text_min {
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.inpcl {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.btncl {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;  
}

.block__forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.p1 {
    width: 425px;
}

.article{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.article__img {
    align-self: center;
    margin-bottom: 51px;
}

.main__articles {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.article__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.footer__head {
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 32px;
}

.p__footer {
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;

}

.contacts {
    display: flex;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    justify-content: space-between;
    padding-top: 64px;
    
}

.footer__articles {
    display: flex;
    flex-direction: column;
    padding-top: 91px;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    background-color: #316099;
    margin-top: 91px;
}

.line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-top: 96px;
}

.copyright {
    display: flex;
    margin-top: 64px;
    padding-bottom: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.item {
    width: 316px;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

.but {
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 280px;
    }

    .main__articles {
        flex-direction: column;
        align-items: center;
    }

    .article {
        margin-bottom: 32px;
    }

    .footer__articles {
        padding-top: 47px;
    }

    .footer__button {
        padding: 10px 0;
        width: 133px;
    }

    .footer__articles {
        justify-content: space-around;
        width: 336px;
    }

    .p__footer {
        width: auto;
    }

    .line {
        margin-top: 64px;
    }

    .contacts {
        display: block;

    }

    .item {
        margin: 0 147px;
        width: auto;
    }

    .copyright {
        margin: 0 125px;
    }
}

@media (max-width: 667px) {
    .menu {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .p1 {
        width: 100%;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding:  0 8px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px; 
    }

    .what-we-do {
        padding-top: 48px;
    }

    .main__articles {
        padding-top: 32px;
    }

    .article {
        width: 100%;
    }

    .text__project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text_min {
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer__articles {
        display: block;
        align-items: center;
        padding: 18px 16px 0 16px;
        text-align: center;
    }

    .but{
        justify-content: center;
        margin-top: 40px;
    }

    .line {
        margin-top: 40px;
    }

    .contacts {
        padding-top: 32px;
    }

    .item {
        margin: auto;
    }

    .copyright {
        margin-top: 37px;
        margin-bottom: 7px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 32px;
        justify-content: center;
    }

}